@using Hotel_Reservation.ViewModels
@model LoginViewModel


@{
    ViewData["Title"] = "Register";
    Layout = "_MyLayout";
}

  <div class="contact main-font-family text-center">
            <div class="container">
                <h2 id="contact">Get in touch</h2>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-6">
                        <div class="contact-form">
                            <form asp-action="Login" asp-controller="Account">
                                
                                <div class="form-group">
                                <input asp-for="Email" class="form-control" type="email" placeholder="Email">
                                <span asp-validation-for="Email" class="text-light help-block" ></span>
                                </div>
                               
                                <div class="form-group">
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-light help-block" ></span>
                                </div>
                                


                                <input type="submit" value="Log In">
                            </form>

                            <div >
                                <a class="small text-light" asp-action="index" asp-controller="Home">Back to Home Page</a>
                            </div> 
                            <div >
                                <a class="small text-light" asp-action="Register" asp-controller="account">Don't Have An Account? Register</a>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-6">
                        <h2 class="text-right">Log In Now</h2>
                        <img src="/imgs/shape.png">
                        
                    </div>
                </div>
            </div>
            <div></div>
        </div>
      
        
   @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }